$checked-width: calc( 100% - 60px )
$timing: 0.35s
$timing-long: 0.5s

@keyframes dish_arrival
    form
        opacity: 0
        transform: translateY(10px)

    to
        opacity: 1
        transform: translateY(0px)
    
.dish
    box-shadow: 0px 5px 10px lightgrey
    border-radius: 15px
    background: $white
    overflow: hidden

    opacity: 0
    transform: translateY(10px)
    
    width: calc( 100% + 10px )
    margin: 0px -5px
    margin-top: 15px

    transition: 0.5s
    animation-name: dish_arrival
    animation-duration: 0.75s
    animation-fill-mode: forwards

    @for $i from 1 through 4
        &:nth-of-type( #{$i} )
            animation-delay: calc( 0.15s * ( #{$i} - 1 ) )

    label
        display: block
        position: relative
        padding: 10px 23px 10px 12px
        width: 100%
        transition: $timing

        &:before
            content: ''
            text-align: center
            display: block
            width: 60px
            height: 66.5px
            background-color: $tertiary-color
            position: absolute
            top: 0px
            left: 100%

        &:after
            text-align: center
            color: $white
            font-size: 22px

            display: block
            position: absolute
            top: 16.75px
            left: 100%
            width: 60px

            transition: $timing-long
            transform: rotate(0deg)

        .dish__name

        .dish__info
            display: flex
            justify-content: space-between
            font-size: 15px
            text-overflow: ellipsis

            .dish__description
                @include font('Roboto', 300)
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                padding-right: 10px

            .dish__price

input:checked + .dish label
    width: $checked-width

    &:after
        transform: rotate(360deg)