.formular
    //background: $light-grey
    width: 100%
    margin: auto
    max-width: 1600px
    @include lateral($regular-side)
    padding-bottom: 70px
    @include breakpoint($tablet)
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    
    .dish-container
        border: 0px
        margin-bottom: 50px
        @include breakpoint($tablet)
            width: calc(50% - 15px)
        @include breakpoint($laptop)
            width: calc( ( 100% / 3 ) - 15px )
        @include breakpoint($desktop)
            width: calc( ( 100% / 3 ) - 25px )

        input
            display: none

        .dish-container__title
            text-transform: uppercase
            @include font('Roboto', 300)

            &:after
                content: ''
                display: block
                width: 40px
                height: 3px
                background-color: $tertiary-color
                margin-top: 5px