@keyframes loader_detail
    0%
        opacity: 0
        transform: scale(75%) translateX(2%)

    20%
        opacity: 1
        transform: scale(75%) translateX(0%)
    
    80%
        opacity: 1
        transform: scale(75%) translateX(0%)

    100%
        opacity: 0
        transform: scale(75%) translateX(-2%)
    
.main__loader
    height: calc( 100vh - 65px )
    width: 100%
    padding: 0px calc( ( 100% - 500px ) / 2 )
    display: block
    position: fixed
    z-index: -1

    path
        transform-origin: 50%

        @for $i from 1 through 8
            &:nth-of-type( #{$i} )
                transform: scale(75%) translateX(5%)
                animation-name: loader_detail
                animation-duration: 1.5s
                animation-delay: calc( 0.075s * ( #{$i} - 1 ) )
                animation-iteration-count: infinite