.restaurant-card
    background: $white
    margin-top: 18px
    overflow: hidden
    border-radius: 12px
    color: $black
    box-shadow: 0px 5px 10px lightgrey
    position: relative
    width: 100%
    @include breakpoint($tablet)
        width: calc( 50% - 15px )
        margin-top: 30px
    @include breakpoint($desktop)
        width: calc( 33% - 15px )

    &--new:after
        content: 'Nouveau'
        display: block
        padding: 10px 13px 9px
        background: $tertiary-color
        color: #008766
        border-radius: 2px
        position: absolute
        top: 13px
        right: 11px

    .restaurant-card__thumbnail
        height: 20vw
        min-height: 175px
        max-height: 320px
        width: 100%
        display: block
        object-fit: cover

    .restaurant-card__content
        padding: 23px 24px 20px 14px
        position: relative
        background-color: $white

        .restaurant-card__name

        .restaurant-card__street
            @include font('Roboto', 300)

        .button-heart-container--restaurant-card
            position: absolute
            right: 25px
            top: 28px