@font-face 
    font-family: 'ohmyfood'
    src: url('../media/font/ohmyfood.eot?50011006')
    src: url('../media/font/ohmyfood.eot?50011006#iefix') format('embedded-opentype'), url('../media/font/ohmyfood.woff2?50011006') format('woff2'), url('../media/font/ohmyfood.woff?50011006') format('woff'), url('../media/font/ohmyfood.ttf?50011006') format('truetype'), url('../media/font/ohmyfood.svg?50011006#ohmyfood') format('svg')
    font-weight: normal
    font-style: normal

.icon:before
    font-family: 'ohmyfood'

/*.icon-check:before
    content: '\e800'

.dish label:after
    content: '\e800'
    font-family: 'ohmyfood'

.icon-left:before
    content: '\e801'

.icon-mobile:before
    content: '\e802'

.icon-location:before
    content: '\e803'

.icon-list:before
    content: '\e804'

.icon-shop:before
    content: '\e805'

.icon-food:before
    content: '\f0f5'

.icon-hands:before
    content: '\f2b5' 