@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap');

@mixin font($font-family, $font-weight: 400)
    font-family: $font-family
    font-weight: $font-weight
    line-height: 1.5