@import '_colours.sass'
@import '_fonts.sass'
@import '_spacing.sass'
@import '_pictos.sass'
@import '_breakpoint.sass'

*
    margin: 0px
    padding: 0px
    box-sizing: border-box

body
    @include font('Roboto', 500)

a
    text-decoration: none

li
    list-style-type: none