.main-button__container
    width: 100%
    display: inline-block
    text-align: center
    
.main-button
    padding: 20px
    min-width: 186px
    display: inline-block
    cursor: pointer
    transition: 0.2s

    border: 0px
    border-radius: 60px
    box-shadow: 0px 5px 10px grey
    background: linear-gradient( to top, #{$primary-color}, #{$secondary-color} )

    color: $white
    font-size: 16px
    @include font('Roboto', 500)

    &:hover
        background: linear-gradient( to top, #{ lighten($primary-color, 5%) }, #{lighten($secondary-color, 5%)} )
        box-shadow: 0px 7px 10px darken(grey, 10%)