.button-heart-container, .button-heart
    cursor: pointer

.button-heart-container
    padding: 10px
    margin: -10px

    &:hover .button-heart::before
        transform: scaleY(1)

    .button-heart
        height: 23px
        width: 23px
        border: 0px
        box-sizing: content-box
        clip-path: url(#heart)
        background: 0px 1px url("../media/images/heart-line.svg") no-repeat
        position: relative

        &:before
            content: ''
            display: block
            height: 23px
            width: 23px
            position: absolute
            top: 0px
            transform: scaleY(0)
            transform-origin: 50% 100%
            transition: 0.35s
            background: linear-gradient( to bottom, #{$primary-color}, #{$secondary-color} )