.footer
    background: $red-grey
    padding-top: 26px
    padding-left: 25px
    padding-bottom: 38px
    line-height: 2

    .footer-container
        @include max-width

        .footer__logo
            height: 18px
            width: auto
            display: inline

            path
                fill: $white

        .footer__nav
            margin-top: 24px

        .footer__item

            a
                color: $white

                &:before
                    margin-right: 12px