.header
    background: $white
    padding-top: 23px
    padding-bottom: 12px
    box-shadow: 0px 0px 5px grey
    position: relative

    svg
        height: 30px
        display: block
        margin: auto

    .header__home-link:before
        font-family: 'ohmyfood'
        display: block
        position: absolute
        color: $red-grey

        left: 23px
        top: 26px

        padding: 10px
        margin: -10px