@keyframes home-block_arrival
    form
        opacity: 0
        transform: translateY(5px)

    to
        opacity: 1
        transform: translateY(0px)
    
.home-block
    padding: 0px 20px
    padding-bottom: 65px
    margin: auto
    
    display: flex
    flex-direction: column
    flex-wrap: wrap

    animation: 0.2s linear 3s forwards home-block_arrival//, 0s 3s forwards home-block_display
    opacity: 0
    transform: translateY(10px)

    &:nth-of-type(1n + 1)
        background: $white
        padding-top: 53px
        counter-reset: step

    &:nth-of-type(2n + 1)
        background: $light-grey
        padding-top: 59px

    &:first-of-type
        padding-top: 0px
        display: block
        max-width: 100%

    .home-block__container
        @include max-width
        width: 100%
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
        
        .home-block__title
            font-size: 24px
            margin-bottom: 10px
            width: 100%

.home-block__location
    text-align: center
    display: inline-block
    width: calc( 100% + ( 2 * #{$regular-side} ) )
    color: #353535
    background: #eaeaea
    padding: 19px 0px
    margin: 0px calc(#{$regular-side} * -1)
    margin-bottom: 50px

    &:before
        font-size: 18px
        margin-right: 10px

.home-block--speech
    text-align: center
    padding-bottom: 57px

    .speech__text
        @include font('Roboto', 300)
        margin-top: 25px
        margin-bottom: 35px