.step
    display: inline-block
    position: relative
    width: calc(100% - 12px)
    counter-increment: step

    background: $light-grey
    border-radius: 20px
    box-shadow: 0px 5px 10px lightgrey
    
    margin-top: 24px
    margin-left: 12px
    padding-left: 75px
    padding-bottom: 29px
    padding-top: 37px
    font-size: 18px

    @include breakpoint($tablet)
        width: calc( ( 100% / 3 ) - 15px )
        background: $white
        box-shadow: none
        padding: 0px 50px
        margin-left: 0px
        margin-top: 40px
        text-align: center

    &:before
        position: absolute
        left: 35px
        font-size: 20px
        color: #7e7e7e
        @include breakpoint($tablet)
            display: block
            position: initial
            font-size: 80px
            width: 100%
            text-align: center
    
    &:after
        content: counter(step)
        display: inline-block
        padding: 0 7.5px

        color: $white
        background: $primary-color
        border-radius: 12px

        position: absolute
        left: -12px
        @include breakpoint($tablet)
            top: 0px
            left: calc( 50% - 90px )
            font-size: 25px
            padding: 0 12px
            border-radius: 25px

    &--last::before
        color: $primary-color