@import 'graphic/_global.sass'
@import 'components/_header.sass'

.main__thumbnail
        height: 260px
        width: 100%
        display: block
        background: $tertiary-color
        object-fit: cover
        position: relative
        z-index: -1
        @include breakpoint($tablet)
            height: 500px

.main__card
    background: $light-grey
    border-top-left-radius: 40px
    border-top-right-radius: 40px

    .main-heading
        width: 100%
        margin: auto
        max-width: 1600px
        @include lateral($regular-side)
        display: flex
        justify-content: space-between
        padding-top: 30px
        padding-bottom: 25px
        margin-top: -40px
        @include breakpoint($desktop)
            margin-bottom: 35px

        .h1
            font-size: 30px
            @include font('Shrikhand')

        .button-heart-container--heading
            margin-top: -6px

@import 'components/_button.sass'
@import 'components/_button-heart.sass'
@import 'components/_formular.sass'
@import 'components/_dish.sass'
@import 'components/_footer.sass'